nav{
  display: flex;
  justify-content: space-between;
  max-height: 3vh;
  padding: 20px;
  background-color: $primary-color;
  box-shadow: 0px 4px 25px 0px rgba(66, 68, 90, 1);

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
nav h2{
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 900;
  font-family: Arial;
  color: $text-color-dark;
}
nav #userMail{
  margin-left: 10px;
}
nav #logout{
  border: none;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial;
  color: $text-color-bright;
  background-color: $text-color-dark;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }

  @media only screen and (max-width: 768px) {
    max-width: 150px;
  }
}