.todo-conatiner{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.todo-conatiner label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: $text-color-dark;
}
.todo-conatiner input[type="submit"]{
  border: none;
  border-radius: 25px;
  padding: 10px 40px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial;
  color: $text-color-bright;
  background-color: $text-color-dark;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }

  @media only screen and (max-width: 768px) {
    padding: 10px 30px;
    font-size: 0.8rem;
  }
}
.todo-conatiner input[type="text"]{
  padding: 5px 20px;
  margin-left: 10px;
  min-width: 250px;
  border: 1px solid $text-color-dark;
  font-size: 1.2rem;
  border-radius: 25px;
  color: $text-color-dark;

  &:focus{
    outline: none;
  }

  @media only screen and (max-width: 768px) {
    margin: 20px 0;
    font-size: 1rem;
  }
}
.todo-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  @media only screen and (max-width: 768px) {
    margin-top: 20px;
  }
}
.task-nav{
  width: 80%;
  background-color: $primary-color;
  border-radius: 5px;
}
#tasks-conatiner{
  width: 80%;
  display: flex;
  flex-direction: column;
}
.task-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.checkbox{
  margin-left: 10px;
}
.todo-item{
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: $text-color-dark;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  
  @media only screen and (max-width: 768px) {
    max-width: 120px;
  }
}
.wrap{
  display: flex;
}
.delete-btn, .edit-btn{
  border: none;
  border-radius: 25px;
  padding: 5px 40px;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial;
  color: $text-color-bright;
  background-color: $text-color-dark;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }

  @media only screen and (max-width: 768px) {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
.delete-btn{
  background-color: $color-red
}
input[type="checkbox"]:checked + label.todo-item{
  text-decoration: line-through;
}